In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Convert SQLite to Dataframe

In [2]:
con = sqlite3.connect('../Dataset/hotel-directories-ORI.sqlite3')
df_room = pd.read_sql_query("SELECT * FROM hotel_rooms", con)
df_hotel = pd.read_sql_query("SELECT * FROM hotels", con)

In [3]:
df_room.to_csv('../Dataset/rooms.csv', index=False)
df_hotel.to_csv('../Dataset/hotels.csv', index=False)

In [4]:
df_room.head(2)

,id,hotelId,name,images,roomType,description,originalDescription,bedDescription,size,rate,...,numExtraBeds,numChargedRooms,numRemainingRooms,numBreakfastIncluded,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,extraBedIsIncluded,facilities
0,1000009181,3000020003208,Family,"[""https://ik.imagekit.io/tvlk/generic-asset/dg...",Family,None,None,None,30.0,"{""amount"":""989182"",""currency"":""IDR"",""tax"":""207...",...,0,1,3,NaN,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."
1,1000009219,3000020003208,President Suite,"[""https://ik.imagekit.io/tvlk/generic-asset/dg...",President Suite,None,None,None,75.0,"{""amount"":""3272727"",""currency"":""IDR"",""tax"":""68...",...,0,1,1,NaN,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."

In [5]:
df_hotel.head(2)

,id,type,name,displayName,description,link,address,region,city,province,...,images,facilities,properties,nearestPointOfInterests,starRating,userRating,userRatingInfo,numReviews,latitude,longitude
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Kyriad Hotel Muraya Aceh,<p><b>Lokasi</b><br>Kyriad Hotel Muraya Aceh b...,https://www.traveloka.com/id-id/hotel/detail?s...,Jalan Tengku H. Mohd Daud Beureueuh No. 5 Kuta...,Aceh,Banda Aceh,Aceh,...,"[""https://ik.imagekit.io/tvlk/apr-asset/dgXfoy...","[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,8.6,Mengesankan,1845.0,5.556686,95.322269
1,3000010003879,Hotel,Hermes Palace by BENCOOLEN,Hermes Palace by BENCOOLEN,<p><b>Lokasi</b><br>Hermes Palace by BENCOOLEN...,https://www.traveloka.com/id-id/hotel/detail?s...,Jalan. T. Panglima Nyak Makam Banda Aceh Aceh ...,Aceh,Banda Aceh,Aceh,...,"[""https://ik.imagekit.io/tvlk/apr-asset/dgXfoy...","[""CARPARK"",""COFFEE_SHOP"",""ELEVATOR"",""HAS_24_HO...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",5.0,8.4,Mengesankan,2525.0,5.556202,95.344114

## Drop Unnecessary Column

In [6]:
room_drop = ['images', 'description', 'bedDescription', 'originalDescription', 'rate', 'maxOccupancy', 'numRemainingRooms', 'numBreakfastIncluded', 'extraBedIsIncluded', 'numExtraBeds', 'numChargedRooms']
for column_name in room_drop:
    df_room.drop(column_name, axis=1, inplace=True)

df_room.head(2)

,id,hotelId,name,roomType,size,originalRate,baseOccupancy,maxChildOccupancy,maxChildAge,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,facilities
0,1000009181,3000020003208,Family,Family,30.0,"{""amount"":""999174"",""currency"":""IDR"",""tax"":""209...",2,1,10,1,1,1,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."
1,1000009219,3000020003208,President Suite,President Suite,75.0,"{""amount"":""3305785"",""currency"":""IDR"",""tax"":""69...",2,1,10,1,1,1,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."

In [7]:
hotel_drop = ['displayName', 'description', 'link', 'address', 'region', 'country', 'geodirectoryId', 'postal', 'image', 'images', 'userRating', 'latitude', 'longitude']
for column_name in hotel_drop:
    df_hotel.drop(column_name, axis=1, inplace=True)

df_hotel.head(2)

,id,type,name,city,province,facilities,properties,nearestPointOfInterests,starRating,userRatingInfo,numReviews
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,1845.0
1,3000010003879,Hotel,Hermes Palace by BENCOOLEN,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_SHOP"",""ELEVATOR"",""HAS_24_HO...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",5.0,Mengesankan,2525.0

## Combine Dataset Based on ID

In [8]:
# rename columns

df_hotel.rename(columns={'id': 'hotelId'}, inplace=True)
df_hotel.rename(columns={'name': 'hotelName'}, inplace=True)
df_hotel.rename(columns={'facilities': 'hotelFacilities'}, inplace=True)
df_room.rename(columns={'facilities': 'roomFacilities'}, inplace=True)
df_hotel.head(2)

,hotelId,type,hotelName,city,province,hotelFacilities,properties,nearestPointOfInterests,starRating,userRatingInfo,numReviews
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,1845.0
1,3000010003879,Hotel,Hermes Palace by BENCOOLEN,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_SHOP"",""ELEVATOR"",""HAS_24_HO...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",5.0,Mengesankan,2525.0

In [9]:
df = pd.merge(df_hotel, df_room, on='hotelId', how='inner')
df.head(2)

,hotelId,type,hotelName,city,province,hotelFacilities,properties,nearestPointOfInterests,starRating,userRatingInfo,...,size,originalRate,baseOccupancy,maxChildOccupancy,maxChildAge,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,roomFacilities
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,...,30.0,"{""amount"":""999174"",""currency"":""IDR"",""tax"":""209...",2,1,10,1,1,1,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."
1,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,...,75.0,"{""amount"":""3305785"",""currency"":""IDR"",""tax"":""69...",2,1,10,1,1,1,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."

### Filter for only Bali Province

In [10]:
df = df[df['province'] == 'Bali']
df.reset_index(drop=True, inplace=True)
df.shape

(7221, 24)

In [11]:
# drop another columns
drop = ['hotelId', 'hotelName', 'province', 'properties', 'userRatingInfo', 'numReviews', 'id', 'name', 'roomType']
for column_name in drop:
    df.drop(column_name, axis=1, inplace=True)
print(df.shape)
df.head(3)

(7221, 15)

,type,city,hotelFacilities,nearestPointOfInterests,starRating,size,originalRate,baseOccupancy,maxChildOccupancy,maxChildAge,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,roomFacilities
0,Hotel,Badung,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...","[{""landmarkId"":""91589773100576"",""geoId"":null,""...",4.0,46.0,"{""amount"":""1227273"",""currency"":""IDR"",""tax"":""25...",3,1,5,1,1,1,0,"[""AIR_CONDITIONING"",""BALCONY_TERRACE"",""BATHROB..."
1,Hotel,Badung,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...","[{""landmarkId"":""91589773100576"",""geoId"":null,""...",4.0,31.0,"{""amount"":""596694"",""currency"":""IDR"",""tax"":""125...",2,1,5,0,1,1,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BATHTUB"",""BLA..."
2,Hotel,Badung,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...","[{""landmarkId"":""91589773100576"",""geoId"":null,""...",4.0,52.0,"{""amount"":""1450413"",""currency"":""IDR"",""tax"":""30...",2,1,5,1,1,1,1,"[""AIR_CONDITIONING"",""BALCONY_TERRACE"",""BATHROB..."

In [12]:
# Plotting Hotel Type
# plt.figure(figsize=(13, 5))
# sns.countplot(x='type', data=df)
# plt.show()

## Data Cleaning

In [13]:
df.isnull().sum()

type                          0
city                          0
hotelFacilities               0
nearestPointOfInterests       0
starRating                    0
size                       2084
originalRate                  0
baseOccupancy                 0
maxChildOccupancy             0
maxChildAge                   0
isBreakfastIncluded           0
isWifiIncluded                0
isRefundable                  0
hasLivingRoom                 0
roomFacilities                0
dtype: int64

In [14]:
df.duplicated().any()

True

In [15]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.shape

(5137, 15)

## Feature Processing

### Original Rate/Target Processing

In [16]:
df.loc[0, 'originalRate']

'{"amount":"1227273","currency":"IDR","tax":"257727"}'

In [17]:
# Exstract original rate
for i in range (len(df['originalRate'])):
    df.loc[i, 'originalRate'] = df['originalRate'][i].split('"')[11]
    # df['originalRate'][i] = int(df['originalRate'][i].split('"')[11])
df['originalRate'] = df['originalRate'].astype(int)
df.head(2)

,type,city,hotelFacilities,nearestPointOfInterests,starRating,size,originalRate,baseOccupancy,maxChildOccupancy,maxChildAge,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,roomFacilities
0,Hotel,Badung,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...","[{""landmarkId"":""91589773100576"",""geoId"":null,""...",4.0,46.0,257727,3,1,5,1,1,1,0,"[""AIR_CONDITIONING"",""BALCONY_TERRACE"",""BATHROB..."
1,Hotel,Badung,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...","[{""landmarkId"":""91589773100576"",""geoId"":null,""...",4.0,31.0,125306,2,1,5,0,1,1,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BATHTUB"",""BLA..."

In [18]:
df.shape

(5137, 15)

In [19]:
# Remove originalRate below 1
df = df[df['originalRate'] > 10]
df.reset_index(drop=True, inplace=True)
df.shape

(4733, 15)

In [20]:
# Checking the data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4733 entries, 0 to 4732
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   type                     4733 non-null   object
 1   city                     4733 non-null   object
 2   hotelFacilities          4733 non-null   object
 3   nearestPointOfInterests  4733 non-null   object
 4   starRating               4733 non-null   float64
 5   size                     4733 non-null   object
 6   originalRate             4733 non-null   int32
 7   baseOccupancy            4733 non-null   int64
 8   maxChildOccupancy        4733 non-null   int64
 9   maxChildAge              4733 non-null   int64
 10  isBreakfastIncluded      4733 non-null   int64
 11  isWifiIncluded           4733 non-null   int64
 12  isRefundable             4733 non-null   int64
 13  hasLivingRoom            4733 non-null   int64
 14  roomFacilities           4733 non-null   object
dtypes: float64(1), int32(1), int64(7), object(6)
memory usage: 536.3+ KB

In [21]:
# change size data type to float
df['size'] = df['size'].astype(float)
df['size'].dtype

dtype('float64')

In [22]:
dfPrice = df[['originalRate']]
dfPrice.head(2)

   originalRate
0        257727
1        125306

In [23]:
dfPrice.isnull().sum()

originalRate    0
dtype: int64

### Feature Processing

In [24]:
# Rooms facilities processing
# How to use : Facilities = getFacilities(df['Facilities'].tolist())
def getFacilities(facilitiesList):
    facilities = []
    for i in facilitiesList:
        m = int(i.count('"') / 2)
        for j in range(1, m+1, 2):
            temp = i.split('"')[j]
            if temp not in facilities:
                facilities.append(temp)
    return facilities

In [25]:
# Remove underscore and capitalize
def columnName(text):
    index1 = text.find('_')
    index2 = index1 + 1
    index3 = index2 + 1
    text = text[: index1]+ text[index2].swapcase()+text[index3 :]
    finalText = text.strip('_')
    return finalText

In [26]:
# hotel facilites will get error use nameFormatHotel instead
def nameFormat(facilitiesName):
    for i in range (len(facilitiesName)):
        facilitiesName[i] = facilitiesName[i].lower()
        if facilitiesName[i].find('_') > 0:
            while True:
                temp = columnName(facilitiesName[i])
                temporary = temp.isalpha()
                if temporary == False:
                    temp = columnName(facilitiesName[i])
                    facilitiesName[i] = columnName(temp)
                    if facilitiesName[i].isalpha() == True:
                        break
                if temporary == True:
                    facilitiesName[i] = temp
                    break
    return facilitiesName

In [27]:
# only for hotel facilities
def nameFormatHotel(facilitiesName):
    for i in range (len(facilitiesName)):
        facilitiesName[i] = facilitiesName[i].lower()
    return facilitiesName

#### Getting extraxcted features

In [28]:
# Hotel Facilities to List
hotelFacilities = getFacilities(df['hotelFacilities'].tolist())
hotelFacilities[:5]

['CARPARK',
 'ELEVATOR',
 'HAS_24_HOUR_ROOM_SERVICE',
 'RESTAURANT',
 'RESTAURANT_FOR_BREAKFAST']

In [29]:
# Room Facilities to List
roomFacilities = getFacilities(df['roomFacilities'].tolist())
roomFacilities[:5]

['AIR_CONDITIONING',
 'BALCONY_TERRACE',
 'BATHROBES',
 'BATHTUB',
 'BLACKOUT_DRAPES_CURTAINS']

In [30]:
# nearestPointOfInterests to List
# landmarkType is present at indexes [19, 49, 79, 109]

landmark = df['nearestPointOfInterests'].to_list()
searchText = 'landmarkType'
nearestPoint = []
loopCount = 0
for x in range (len(landmark)):
    loopCount += 1
    i = 0
    column = landmark[x].split('"')
    matched_indexes = []
    while i < len(column):
        if searchText == column[i]:
            matched_indexes.append(i)
        i += 1
    for y in matched_indexes:
        if column[y+2] not in nearestPoint:
            nearestPoint.append(column[y+2])
if 'OTHERS' in nearestPoint:
    nearestPoint.remove('OTHERS')
nearestPoint[:5]

['SHOPPING_AREA', 'OFFICIAL_BUILDING', 'RESTAURANT', 'ATTRACTION', 'BEACH']

In [31]:
# Name formatting and create new dataframe
# hotelFacilities = nameFormatHotel(hotelFacilities)
# roomFacilities = nameFormat(roomFacilities)
# nearestPoint = nameFormat(nearestPoint)

In [32]:
# Create new dataframe
dfHotelEncode = pd.DataFrame(columns=hotelFacilities)
dfRoomEncode = pd.DataFrame(columns=roomFacilities)
dfPointEncode = pd.DataFrame(columns=nearestPoint)

#### Hotel Feature Selcetion

In [33]:
dfHotel = pd.concat([df.pop('hotelFacilities'), dfHotelEncode], axis=1)
dfHotel = pd.concat([dfPrice, dfHotel], axis=1)
dfHotel.head(2)

,originalRate,hotelFacilities,CARPARK,ELEVATOR,HAS_24_HOUR_ROOM_SERVICE,RESTAURANT,RESTAURANT_FOR_BREAKFAST,RESTAURANT_FOR_DINNER,RESTAURANT_FOR_LUNCH,SAFETY_DEPOSIT_BOX,...,CANOEING,SURFING,CRIBS,BEACH_VOLLEYBALL,MINI_GOLF,PRIVATE_BEACH,CHILDREN_CLUB,DARTS,ENTERTAINMENT_PROGRAMME_FOR_CHILDREN,KARAOKE
0,257727,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,125306,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
for i in range (len(dfHotel)):
    value = dfHotel['hotelFacilities'][i]
    if value == '[]':
        dfHotel.drop([i], axis=0, inplace=True)
    for j in range (2, len(dfHotel.columns)):
        column_name = dfHotel.columns[j]
        if column_name in value:
            dfHotel.loc[i, column_name] = 1
        else:
            dfHotel.loc[i, column_name] = 0
print(dfHotel.shape)
dfHotel.head()

(4733, 221)

,originalRate,hotelFacilities,CARPARK,ELEVATOR,HAS_24_HOUR_ROOM_SERVICE,RESTAURANT,RESTAURANT_FOR_BREAKFAST,RESTAURANT_FOR_DINNER,RESTAURANT_FOR_LUNCH,SAFETY_DEPOSIT_BOX,...,CANOEING,SURFING,CRIBS,BEACH_VOLLEYBALL,MINI_GOLF,PRIVATE_BEACH,CHILDREN_CLUB,DARTS,ENTERTAINMENT_PROGRAMME_FOR_CHILDREN,KARAOKE
0,257727.0,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...",1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,125306.0,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...",1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
2,304587.0,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...",1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
3,179628.0,"[""CARPARK"",""ELEVATOR"",""HAS_24_HOUR_ROOM_SERVIC...",1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
4,534545.0,"[""CARPARK"",""COFFEE_SHOP"",""ELEVATOR"",""HAS_24_HO...",1,1,1,1,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0

In [35]:
# Remove hotelFacilities column
dfHotel.drop('hotelFacilities', axis=1, inplace=True)
dfHotel.dropna(inplace=True)
dfHotel.reset_index(drop=True, inplace=True)

In [36]:
for i in range (1, len(dfHotel.columns)):
    dfHotel = dfHotel.astype({dfHotel.columns[i]: int})

In [45]:
abs(round(dfHotel.corr('spearman'),2)['originalRate']).sort_values(ascending=False)[:11]

originalRate               1.00
SAFETY_DEPOSIT_BOX         0.44
HAIR_DRYER                 0.44
BATHTUB                    0.44
BABYSITTING                0.42
IN_ROOM_SAFE               0.41
BATHROBE                   0.41
POOL                       0.39
SPA                        0.37
SEPARATE_SHOWER_AND_TUB    0.36
MASSAGE                    0.35
Name: originalRate, dtype: float64

In [43]:
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.model_selection import train_test_split
import xgboost as xgb

y = dfHotel['originalRate']
X = dfHotel.drop('originalRate', axis=1)
select = SelectKBest(score_func=f_regression, k=5)
fit = select.fit(X, y)
fit.get_feature_names_out()

# X_new = select.fit(X, y)

array(['BATHTUB', 'BATHROBE', 'SEPARATE_SHOWER_AND_TUB', 'BABYSITTING',
       'WEDDING_SERVICE'], dtype=object)

##### `dfHotel` (Feature with Correlation > 0.5)
- No hotel feature that has more than 0.5 correlation with target feature

#### Point of Interest Correlation

##### `dfPoint` (Feature with Correlation > 0.5)
baseOccupancy          0.73 </br>
maxChildAge            0.55