In [1]:
import sqlite3
import pandas as pd
import numpy as np

## Convert SQLite to Dataframe

In [2]:
con = sqlite3.connect('../Dataset/hotel-directories-ORI.sqlite3')
df_room = pd.read_sql_query("SELECT * FROM hotel_rooms", con)
df_hotel = pd.read_sql_query("SELECT * FROM hotels", con)

In [3]:
df_room.to_csv('../Dataset/rooms.csv', index=False)
df_hotel.to_csv('../Dataset/hotels.csv', index=False)

In [4]:
df_room.head(2)

,id,hotelId,name,images,roomType,description,originalDescription,bedDescription,size,rate,...,numExtraBeds,numChargedRooms,numRemainingRooms,numBreakfastIncluded,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,extraBedIsIncluded,facilities
0,1000009181,3000020003208,Family,"[""https://ik.imagekit.io/tvlk/generic-asset/dg...",Family,None,None,None,30.0,"{""amount"":""989182"",""currency"":""IDR"",""tax"":""207...",...,0,1,3,NaN,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."
1,1000009219,3000020003208,President Suite,"[""https://ik.imagekit.io/tvlk/generic-asset/dg...",President Suite,None,None,None,75.0,"{""amount"":""3272727"",""currency"":""IDR"",""tax"":""68...",...,0,1,1,NaN,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."

In [5]:
df_hotel.head(2)

,id,type,name,displayName,description,link,address,region,city,province,...,images,facilities,properties,nearestPointOfInterests,starRating,userRating,userRatingInfo,numReviews,latitude,longitude
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Kyriad Hotel Muraya Aceh,<p><b>Lokasi</b><br>Kyriad Hotel Muraya Aceh b...,https://www.traveloka.com/id-id/hotel/detail?s...,Jalan Tengku H. Mohd Daud Beureueuh No. 5 Kuta...,Aceh,Banda Aceh,Aceh,...,"[""https://ik.imagekit.io/tvlk/apr-asset/dgXfoy...","[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,8.6,Mengesankan,1845.0,5.556686,95.322269
1,3000010003879,Hotel,Hermes Palace by BENCOOLEN,Hermes Palace by BENCOOLEN,<p><b>Lokasi</b><br>Hermes Palace by BENCOOLEN...,https://www.traveloka.com/id-id/hotel/detail?s...,Jalan. T. Panglima Nyak Makam Banda Aceh Aceh ...,Aceh,Banda Aceh,Aceh,...,"[""https://ik.imagekit.io/tvlk/apr-asset/dgXfoy...","[""CARPARK"",""COFFEE_SHOP"",""ELEVATOR"",""HAS_24_HO...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",5.0,8.4,Mengesankan,2525.0,5.556202,95.344114

## Drop Unnecessary Column

In [6]:
room_drop = ['images', 'description', 'bedDescription', 'originalDescription', 'size', 'rate', 'maxOccupancy', 'numRemainingRooms', 'numBreakfastIncluded']
for column_name in room_drop:
    df_room.drop(column_name, axis=1, inplace=True)

df_room.head(2)

,id,hotelId,name,roomType,originalRate,baseOccupancy,maxChildOccupancy,maxChildAge,numExtraBeds,numChargedRooms,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,extraBedIsIncluded,facilities
0,1000009181,3000020003208,Family,Family,"{""amount"":""999174"",""currency"":""IDR"",""tax"":""209...",2,1,10,0,1,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."
1,1000009219,3000020003208,President Suite,President Suite,"{""amount"":""3305785"",""currency"":""IDR"",""tax"":""69...",2,1,10,0,1,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."

In [7]:
hotel_drop = ['displayName', 'description', 'link', 'address', 'region', 'country', 'geodirectoryId', 'postal', 'image', 'images', 'userRating', 'latitude', 'longitude']
for column_name in hotel_drop:
    df_hotel.drop(column_name, axis=1, inplace=True)

df_hotel.head(2)

,id,type,name,city,province,facilities,properties,nearestPointOfInterests,starRating,userRatingInfo,numReviews
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,1845.0
1,3000010003879,Hotel,Hermes Palace by BENCOOLEN,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_SHOP"",""ELEVATOR"",""HAS_24_HO...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",5.0,Mengesankan,2525.0

## Combine Dataset Based on ID

In [8]:
# rename columns

df_hotel.rename(columns={'id': 'hotelId'}, inplace=True)
df_hotel.rename(columns={'name': 'hotelName'}, inplace=True)
df_hotel.rename(columns={'facilities': 'hotelFacilities'}, inplace=True)
df_room.rename(columns={'facilities': 'roomFacilities'}, inplace=True)
df_hotel.head(2)

,hotelId,type,hotelName,city,province,hotelFacilities,properties,nearestPointOfInterests,starRating,userRatingInfo,numReviews
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,1845.0
1,3000010003879,Hotel,Hermes Palace by BENCOOLEN,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_SHOP"",""ELEVATOR"",""HAS_24_HO...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",5.0,Mengesankan,2525.0

In [9]:
df = pd.merge(df_hotel, df_room, on='hotelId', how='inner')
df.head(2)

,hotelId,type,hotelName,city,province,hotelFacilities,properties,nearestPointOfInterests,starRating,userRatingInfo,...,maxChildOccupancy,maxChildAge,numExtraBeds,numChargedRooms,isBreakfastIncluded,isWifiIncluded,isRefundable,hasLivingRoom,extraBedIsIncluded,roomFacilities
0,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,...,1,10,0,1,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."
1,3000020003208,Hotel,Kyriad Hotel Muraya Aceh,Banda Aceh,Aceh,"[""CARPARK"",""COFFEE_OR_TEA_IN_LOBBY"",""COFFEE_SH...","{""checkInTime"":""14:00"",""checkOutTime"":""12:00"",...","[{""landmarkId"":""6254734"",""geoId"":null,""name"":""...",4.0,Mengesankan,...,1,10,0,1,1,1,1,0,0,"[""AIR_CONDITIONING"",""BATHROBES"",""BLACKOUT_DRAP..."

### Filter for only Bali Province

In [10]:
df = df[df['province'] == 'Bali']
df.shape

(7221, 26)

## Feature Selection

### Ecncode Feature from Array

In [11]:
# Rooms facilities processing
# How to use : Facilities = getFacilities(df['Facilities'].tolist())
def getFacilities(facilitiesList):
    facilities = []
    for i in facilitiesList:
        m = int(i.count('"') / 2)
        for j in range(1, m+1, 2):
            temp = i.split('"')[j]
            if temp not in facilities:
                facilities.append(temp)
    return facilities

In [12]:
# Remove underscore and capitalize
def columnName(text):
    index1 = text.find('_')
    index2 = index1 + 1
    index3 = index2 + 1
    text = text[: index1]+ text[index2].swapcase()+text[index3 :]
    finalText = text.strip('_')
    return finalText

In [13]:
# hotel facilites will get error use nameFormatHotel instead
def nameFormat(facilitiesName):
    for i in range (len(facilitiesName)):
        facilitiesName[i] = facilitiesName[i].lower()
        if facilitiesName[i].find('_') > 0:
            while True:
                temp = columnName(facilitiesName[i])
                temporary = temp.isalpha()
                if temporary == False:
                    temp = columnName(facilitiesName[i])
                    facilitiesName[i] = columnName(temp)
                    if facilitiesName[i].isalpha() == True:
                        break
                if temporary == True:
                    facilitiesName[i] = temp
                    break
    return facilitiesName

In [14]:
# only for hotel facilities
def nameFormatHotel(facilitiesName):
    for i in range (len(facilitiesName)):
        facilitiesName[i] = facilitiesName[i].lower()
    return facilitiesName

In [15]:
# Hotel Facilities to List
hotelFacilities = getFacilities(df['hotelFacilities'].tolist())
hotelFacilities[:5]

['CARPARK',
 'ELEVATOR',
 'HAS_24_HOUR_ROOM_SERVICE',
 'RESTAURANT',
 'RESTAURANT_FOR_BREAKFAST']

In [16]:
# Room Facilities to List
roomFacilities = getFacilities(df['roomFacilities'].tolist())
roomFacilities[:5]

['AIR_CONDITIONING',
 'BALCONY_TERRACE',
 'BATHROBES',
 'BATHTUB',
 'BLACKOUT_DRAPES_CURTAINS']

In [17]:
# nearestPointOfInterests to List
# landmarkType is present at indexes [19, 49, 79, 109]

landmark = df['nearestPointOfInterests'].to_list()
searchText = 'landmarkType'
nearestPoint = []
loopCount = 0
for x in range (len(landmark)):
    loopCount += 1
    i = 0
    column = landmark[x].split('"')
    matched_indexes = []
    while i < len(column):
        if searchText == column[i]:
            matched_indexes.append(i)
        i += 1
    for y in matched_indexes:
        if column[y+2] not in nearestPoint:
            nearestPoint.append(column[y+2])

In [18]:
hotelFacilities = nameFormatHotel(hotelFacilities)
roomFacilities = nameFormat(roomFacilities)
nearestPoint = nameFormat(nearestPoint)